body {
    background: #40E0D0;  /*fallback for old browsers*/
    background: -webkit-linear-gradient(to right, #40E0D0,#ff9513, #ff54a9 );  /*Chrome 10-25, Safari 5.1-6*/
    background: linear-gradient(to right,#40E0D0, #ff9513, #ff54a9 ); /*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
}
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
}
.resume .resume_left{
    width: 280px;
    background: #c02dec;
}
.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}
.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
}
.resume .resume_left .resume_content{
    padding: 0 25px;
}
.resume .title{
    margin-bottom: 20px;
}
.resume .resume_left{
    color: #fff;
}
.resume .resume_left .regular{
    color: #b1eaff;
}
.resume .resume_item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
.resume .resume_left .resume_item:last-child{
    border-bottom: 0px;
}
.resume .resume_left dl dt{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume .resume_left dl dt:last-child{
    margin-bottom: 0;
}
.resume .resume_left dl dt .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #c02dec;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.resume .icon i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: transform(-50%,-50%);
}
.resume .resume_left .resume_skills dl dt{
    color: #2decb3;
    justify-content: space-between;
}
.resume .resume_left .resume_skills dl dt .skill_name{
    width: 25%;
}
.resume .resume_left .resume_skills dl dt .skill_progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: #ec8db2;
    position: relative;
}
.resume .resume_left .resume_skills dl dt .skill_per{
    width: 15%;
}
.resume .resume_left .resume_skills dl dt .skill_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #df2d71;
}